---
import BaseLayout from "./BaseLayout.astro";
interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;
---
<BaseLayout title={title} description={description}>
  <main class="max-w-[1100px] mx-auto px-8 py-12">
    <slot />
  </main>
</BaseLayout>
